# IntelliJ IDEA
*.iml
.idea
.nrepl-port

# target-folders and other build related files
etp-backend/target
etp-backend/tmp-energiatodistukset
etp-backend/tmp-laskutus
etp-db/target
docker/smtp/received-emails

# clojure
.cpcache
.nrepl-port
