{:solita.etp/db {:adapter "postgresql"
                 :server-name "localhost"
                 :username "etp_app"
                 :password "etp"
                 :database-name "postgres"}
 :solita.etp/http-server {:port 8080}}
