<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.pdfbox.pdmodel.interactive.digitalsignature.visible" level="WARN" />
    <logger name="com.openhtmltopdf" level="WARN" />
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <variable name="SUOMIFI_VIESTIT_LOG_LEVEL" value="${SUOMIFI_VIESTIT_LOG_LEVEL:-INFO}" />
    <logger name="solita.etp.service.suomifi-viestit" level="${SUOMIFI_VIESTIT_LOG_LEVEL}"/>
    <variable name="ASHA_LOG_LEVEL" value="${ASHA_LOG_LEVEL:-INFO}" />
    <logger name="solita.etp.service.asha" level="${ASHA_LOG_LEVEL}"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="WARN"/>
</configuration>
