name: nvd-clojure

on:
  schedule:
    - cron: '0 2 * * 1'

jobs:
  nvd:
    runs-on: ubuntu-latest
    container:
      image: clojure:openjdk-11-tools-deps

    steps:
      - uses: actions/checkout@v3
      - name: Run nvd
        run: ./nvd.sh
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: NVD Results
          path: target/nvd/dependency-check-junit.xml
          reporter: java-junit
